# Challenge 3 Create Directin layer to draw the route to four cities

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [5]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,jamestown,US,77.29,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,2,airai,TL,61.07,-8.9266,125.4092,Juvinal Martin
2,3,fort nelson,CA,71.62,58.8053,-122.7002,The Fort Nelson Hotel
3,5,fayaoue,NC,71.29,-20.6500,166.5333,Chez Dydyce Guesthouse
4,6,sechura,PE,72.03,-5.5569,-80.8222,Hospedaje Costa Bella

In [6]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_start = vacation_df.loc[vacation_df["City"] == "lata"]
vacation_end = vacation_df.loc[vacation_df["City"] == "libourne"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "namestovo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "zlobin"]

In [9]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(40.1629, -8.3327)
(44.9167, -0.25)
(49.4079, 19.4803)
(45.2924, 14.6541)

In [10]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode= "DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2])
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
178,433,lata,PT,62.04,40.1629,-8.3327,Casa Maquia
110,282,libourne,FR,63.57,44.9167,-0.2500,Hôtel Mercure Libourne Saint-Émilion
154,377,namestovo,SK,69.17,49.4079,19.4803,Trend Hotel
100,255,zlobin,HR,67.30,45.2924,14.6541,Hotel Bitoraj Fuzine

In [12]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,433,lata,PT,62.04,40.1629,-8.3327,Casa Maquia
1,282,libourne,FR,63.57,44.9167,-0.2500,Hôtel Mercure Libourne Saint-Émilion
2,377,namestovo,SK,69.17,49.4079,19.4803,Trend Hotel
3,255,zlobin,HR,67.30,45.2924,14.6541,Hotel Bitoraj Fuzine

In [13]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))